* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;
}

.card-header {
  font-weight: bolder;
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
}

#date1 {
  font-weight: bolder;
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
}
